context('Fire Protection', () => {
    it('Should open Google browser', () => {
        cy.visit('https://google.co.nz')

        cy.get('#input').type('fire pro').should('have.value', 'fire pro')

    })
})
